* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background: #fff;
  font-family: "Yusei Magic", sans-serif;
}
#header {
  /* position: fixed; */
  width: 100%;
  height: 20px;
  padding: 30px;
  background: lightpink;
}
.nav-list {
  margin: 10px 40px;
  float: right;
  font-size: 20px;
}
.nav-list a {
  margin: 30px;
  text-decoration: none;
  text-align: center;
  color: #000;
}
.nav-list a:hover {
  color: #fff;
}
#home {
  width: 100%;
  padding: 45px auto;
}
.center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
}
.main {
  padding: 4px auto;
  /* margin: 10px auto; */
  width: 100%;
  height: 15vh;
  border-radius: 50%;
}
.box {
  color: #fff;
  width: 100px;
  height: 100px;
  font-family: cursive;
  position: relative;
  background: rgb(24, 24, 24,);
  border-radius: 50%;
  
}
.box::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(180deg,#ff6347,#008080,#ff6347,#1c58c9,#ffb6c1,#1c58c9);
  z-index: -1;
  transition: all .6s;
  border-radius: 50%;
}
.box:hover::before{
  transform: rotate(360deg);
}
.home-pic {
  width: 100%;
  height: 450px;
  background-color: lightpink;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 35px;
  color: lightcoral;
  font-family: "Hachi Maru Pop", cursive;
}

#search-section {
  display: inline-block;
  width: 100%;
  margin: 25px auto;
  padding: 25px auto;
}
.forms-sub {
  width: 100%;
  height: 45px;
  margin: 20px auto;
  text-align: center;
  justify-content: center;
}
#input-class,
#cuisine-id,
#rate-class {
  font-family: "Hachi Maru Pop", cursive;
  width: 170px;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}
.rest-but,
.cuisine-btn,
.rate-btn {
  text-transform: uppercase;
  border: 1px solid black;
  background-color: lightpink;
  padding: 8px;
  border-radius: 14%;
}
.rest-but:hover {
  color: lightpink;
  background: #fff;
}
.cuisine-btn:hover{
  color: lightpink;
  background: #fff;
}
.rate-btn:hover{
  color: lightpink;
  background: #fff;
}
#rest-list {
  left: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.each-res {
  width: 100%;
  height: 130px;
  display: block;
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  border: 1px solid lightpink;
}
.each-res:hover {
  background: beige;
}
.each-res h6 {
  display: block;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
.each-res a {
  margin: 1px 3px;
  display: inline-block;
  color: tomato;
  font-size: 14px;
  text-decoration: none;
  text-align: justify;
}
.each-res a:hover {
  color: lightseagreen;
  font-size: 16px;
}
.each-res p {
  margin: 4px auto;
  display: block;
  font-size: 14px;
}
.rate-class{
  width: 100%;
  height: 100px;
  display: block;
  font-size: 14px;
  margin: 20px;
  padding: 5px;
  justify-content: center;
  border: 1px solid lightpink;
}
.rate-class a {
  margin: 1px 2px;
  display: inline-block;
  color: tomato;
  font-size: 16px;
  text-decoration: none;
  text-align: justify;
}
.rate-class h6 {
  margin: 4px auto;
  display: block;
  font-size: 16px;
}
.rate-class a:hover {
  color: lightseagreen;
  font-size: 20px;
}
.cuisine-class{
  width: 100%;
  height: 110px;
  display: block;
  font-size: 14px;
  margin: 20px;
  padding: 5px;
  justify-content: center;
  border: 1px solid lightpink;
}
.cuisine-class a {
  margin: 1px auto;
  display: inline-block;
  color: tomato;
  font-size: 16px;
  text-decoration: none;
  text-align: justify;
}
.cuisine-class a:hover {
  color: lightseagreen;
  font-size: 20px;
}
#footer {
  position: absolute;
  width: 100%;
  height: 125px;
  display: block;
  justify-content: center;
  margin-bottom: 20px;
  background: lightcoral;
  background-size: cover;
}
.foot-name{
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.foot-name:hover{
  color: #fff;
}
.social{
  text-align: center;
}
.fab {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin: 4px 22px; 
}
.fab:hover {
  display: inline-block;
  color: lightseagreen;
  font-size: 25px;
}

